## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

## What are the data types in Python
1. Strings - anything inside " " or ' '
2. Booleans - True/False
3. Intergers - whole numbers, even or odd
4. Floats - any number with a decimal

In [3]:
#variable Reassignment

# A studentsa gps throught highschool
sutdent_gpa = 3.2 #Freshman year

student_gpa = 3.4 # sophmore year

student_gpa = 3.7 # junior year

student_gpa = 3.9 #Senior year
print(student_gpa)

# OUTPUT: 3.9

# If you need to store all data 
sutdent_gpa_Fr = 3.2 #Freshman year

student_gpa_So = 3.4 # sophmore year

student_gpa_Ju = 3.7 # junior year

student_gpa_Se = 3.9 #Senior year
print(student_gpa)

3.9
3.9

In [5]:
# Sports Team Statistics

#Basketball Team variables

teamName = "Riverside Ravens"
wins = 18
losses = 7
pointsScored = 1456
pointsAllowed = 1298
leadingScorer = "Jordan Thomson"
averagePointsPerGame = 58.2
championshipContender = True

print(championshipContender)

True

In [1]:
# The input function

#input("enter your first name: ")

first_name = input("Enter your first name")

ERROR! Session/line number was not unique in database. History logging moved to new session 3

## 4 main computational Process

- Input
- Processing
- Output
- Storgae (Memory)

## Strings, Assignments, and comments:

**Data Types** - consists of a set of values and a set of operators that can be preformed on those values

**Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Intergers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -78467867</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>floats</td>
        <td>-0.55, 0.33333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>str</td>
        <td>"Hello", "", " ", 'a', "647"</td>
    </tr>
</table>

In [1]:
hello = 'Hello there!'
myInt = 657
print(hello) #literal is: Hello there!
print(myInt) #literal is: 657

Hello there!
657

## Escape Sequences

**Escap Sequence** - the way python expresses special charachters, shuch as tab, the newline, and the backspace as literals

<table>
    <tr>
        <th>scape sequence</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>Backspace</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizantal Tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>
</table>

## Intializing a Variable or Constant

**Intializing** - This is the process of cerating a variable and setting to a default value

## Formatting text for output

- This process is for presenting required output in tabular format.
- **Feild Width** - The total number of data characters and additional spaces for a goven datum in a formatted string.
- **%** = the formay operator 
- **%6s** = format string

In [2]:
for exponet in range(7, 11):
    print(exponet, 10 ** exponet)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [ ]:
print("four")
print("%6s" % "four") # % = the formay operator %6s = format string
print("%-6s" % "four")

four
  four
four

## Define Iteration

Repeating an action or process a predfined number of times. Also know as a specific type of iteration: **Definite Iteration**

Preform an action or process until the program determines that it needs to stop: **Indefinite Iteration**

#### Each of these Iterations uses a diffrent type of loop

Definite Iteration --> for loop 
Indefinte Iteration --> while loop

In [1]:
for eachPass in range(4):
    print("It's alive!", end = " ")

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop

for (varaible) in range(sn interger expresion): <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statements

**loop header** - the line that starts with 'for'
**loop body** - comprises the state staements in the rmaining lines of code, below the header

## Python's Exponation operator

In [4]:
# Exponet Example

number = 2
exponet = 3
product = 1

for eachPass in range(exponet):
    product = product * number
    print(product, end = " ")
    
print("\nThe variable product is now", product)

2 4 8
The variable product is now 8

## Count-controlled Loops

In [6]:
for count in range(4):
    print(count, end = " ")

0 1 2 3

In [8]:
product = 1
for count in range(4):
    product = product * (count + 1)
    
print(product)

24

## Loop through a range of numbers

In [9]:
product = 1
for count in range(1, 5):
   product  = product * count
   print(product, end = " ")

1 2 6 24

### Loop heead structure with lower and upper bounds

for (variable) in range(lowerbound, uperbound + 1)

In [10]:
lower = int(input("Enter the lowr bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0

for number in range(lower, upper + 1):
    theSum = theSum + number
print(theSum)

4940

## Augmented Assingment

**Augmented Assingment** - when the assignment symbo can be combained with the arithmentic and concatenation operator.

stucture: (variable) (operator)= (expresion)

In [11]:
a = 17
s = "hi"

a += 3
print(a)

a *= 3
print(a)

a %= 3
print(a)

20
60
0

In [17]:
s += " there!"
print(s)

hi there there there1 there1 there1 there!

## lOOP ERRORS: Off-by-One Error

**Off-by-One Error** - these are errors that result when the programmer incorrectly specifies the upper bound ofr a lopp.

In [18]:
for count in range(1,4):
    print(count)

1
2
3

## Traversing th contents of a Data Sequnce

In [19]:
print(list(range(4)))
print(list(range(1, 5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [20]:
for number in [6, 4, 8]:
    print(number, end = " ")

6 4 8

In [21]:
for charachter in "Hi, there!":
    print(charachter, end = " ")

H i ,   t h e r e !