## Working with Python Variables

Structure of creating a variable
[variable_name] [assignment operator] [value]
myVar = "blah"

## What are the data types in Python
1. Strings - anything inside " " or ' '
2. Booleans - True/False
3. Intergers - whole numbers, even or odd
4. Floats - any number with a decimal

In [4]:
#variable Reassignment

# A studentsa gps throught highschool
sutdent_gpa = 3.2 #Freshman year

student_gpa = 3.4 # sophmore year

student_gpa = 3.7 # junior year

student_gpa = 3.9 #Senior year
print(student_gpa)

# OUTPUT: 3.9

# If you need to store all data 
sutdent_gpa_Fr = 3.2 #Freshman year

student_gpa_So = 3.4 # sophmore year

student_gpa_Ju = 3.7 # junior year

student_gpa_Se = 3.9 #Senior year
print(student_gpa)

3.9
3.9

In [5]:
# Sports Team Statistics

#Basketball Team variables

teamName = "Riverside Ravens"
wins = 18
losses = 7
pointsScored = 1456
pointsAllowed = 1298
leadingScorer = "Jordan Thomson"
averagePointsPerGame = 58.2
championshipContender = True

print(championshipContender)

True

In [6]:
# The input function

#input("enter your first name: ")

first_name = input("Enter your first name")

## 4 main computational Process

- Input
- Processing
- Output
- Storgae (Memory)

## Strings, Assignments, and comments:

**Data Types** - consists of a set of values and a set of operators that can be preformed on those values

**Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Intergers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -78467867</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>floats</td>
        <td>-0.55, 0.33333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>str</td>
        <td>"Hello", "", " ", 'a', "647"</td>
    </tr>
</table>

In [7]:
hello = 'Hello there!'
myInt = 657
print(hello) #literal is: Hello there!
print(myInt) #literal is: 657

Hello there!
657

## Escape Sequences

**Escap Sequence** - the way python expresses special charachters, shuch as tab, the newline, and the backspace as literals

<table>
    <tr>
        <th>scape sequence</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>\b</td>
        <td>Backspace</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>Newline</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>Horizantal Tab</td>
    </tr>
    <tr>
        <td>\\</td>
        <td>The \ character</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quotation mark</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quotation mark</td>
    </tr>
</table>

## Intializing a Variable or Constant

**Intializing** - This is the process of cerating a variable and setting to a default value

## Formatting text for output

- This process is for presenting required output in tabular format.
- **Feild Width** - The total number of data characters and additional spaces for a goven datum in a formatted string.
- **%** = the formay operator 
- **%6s** = format string

In [8]:
for exponet in range(7, 11):
    print(exponet, 10 ** exponet)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [9]:
print("four")
print("%6s" % "four") # % = the formay operator %6s = format string
print("%-6s" % "four")

four
  four
four

## Define Iteration

Repeating an action or process a predfined number of times. Also know as a specific type of iteration: **Definite Iteration**

Preform an action or process until the program determines that it needs to stop: **Indefinite Iteration**

#### Each of these Iterations uses a diffrent type of loop

Definite Iteration --> for loop 
Indefinte Iteration --> while loop

In [10]:
for eachPass in range(4):
    print("It's alive!", end = " ")

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop

for (varaible) in range(sn interger expresion): <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat any number of statements

**loop header** - the line that starts with 'for'
**loop body** - comprises the state staements in the rmaining lines of code, below the header

## Python's Exponation operator

In [11]:
# Exponet Example

number = 2
exponet = 3
product = 1

for eachPass in range(exponet):
    product = product * number
    print(product, end = " ")
    
print("\nThe variable product is now", product)

2 4 8
The variable product is now 8

## Count-controlled Loops

In [12]:
for count in range(4):
    print(count, end = " ")

0 1 2 3

In [13]:
product = 1
for count in range(4):
    product = product * (count + 1)
    
print(product)

24

## Loop through a range of numbers

In [14]:
product = 1
for count in range(1, 5):
   product  = product * count
   print(product, end = " ")

1 2 6 24

### Loop heead structure with lower and upper bounds

for (variable) in range(lowerbound, uperbound + 1)

In [15]:
lower = int(input("Enter the lowr bound: "))
upper = int(input("Enter the upper bound: "))

theSum = 0

for number in range(lower, upper + 1):
    theSum = theSum + number
print(theSum)

49994259

## Augmented Assingment

**Augmented Assingment** - when the assignment symbo can be combained with the arithmentic and concatenation operator.

stucture: (variable) (operator)= (expresion)

In [16]:
a = 17
s = "hi"

a += 3
print(a)

a *= 3
print(a)

a %= 3
print(a)

20
60
0

In [17]:
s += " there!"
print(s)

hi there!

## lOOP ERRORS: Off-by-One Error

**Off-by-One Error** - these are errors that result when the programmer incorrectly specifies the upper bound ofr a lopp.

In [18]:
for count in range(1,4):
    print(count)

1
2
3

## Traversing th contents of a Data Sequnce

In [19]:
print(list(range(4)))
print(list(range(1, 5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [20]:
for number in [6, 4, 8]:
    print(number, end = " ")

6 4 8

In [21]:
for charachter in "Hi, there!":
    print(charachter, end = " ")

H i ,   t h e r e !

## Specifying the steps in the range

Another variant of the python range() function, allows is to enter 3 values as arguments.

range(val1, val2, val3)
val1 - Is the first value in the range
val2 - The first value not in the range
val3 - The step value - is the interval between the numbers used in the range

In [22]:
print(list(range(1, 6, 1)))
print(list(range(1, 6, 2)))
print(list(range(1, 6, 3)))

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]

In [23]:
theSum = 0
for count in range(2, 11, 2):
    theSum +=  count
    
print(theSum)

30

## Loops that count down

* Untill now we been counting up based on what our range is

In [24]:
for count in range (10, 0, -1):
    print(count, end = " ")

10 9 8 7 6 5 4 3 2 1

In [25]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Back to formating text for output

In [26]:
for exponet in range(7, 11):
    print(exponet, 10 ** exponet)

7 10000000
8 100000000
9 1000000000
10 10000000000

### Format string & format Operator

In [27]:
# <format string> % <datum> 

for exponet in range(7, 11):
    print("%-3d%12d" % (exponet, 10 ** exponet))
    # %-3d = first colum in the data output - go -3 spaces back from where the first and second colum meet
    # %12d = the second colum in the data output will be 12 charaters wide (the feild width), everything in the feild justify right

7      10000000
8     100000000
9    1000000000
10  10000000000

In [28]:
salary = 100.00
print("Your salary is $" + str(salary))
print("Your salary is $%0.2f" % salary)

Your salary is $100.0
Your salary is $100.00

In [29]:
print("%6.3f"  % 3.14)

 3.140

## Python if and if-else statements

if and id=else statements are "Branching" statements. They allow Pything to examine or test a condition. Based on the results of that test, your code translation will branch in one direction or another. Analogy: Think of a fork in the road. You can go left or right.

It is also known as a slection statement

### How does Python test a conditiional?

Python uses Booleans to test conditions. <br>
If 2 + 3 = 5 <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;run some code...<br>
else   <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;runs some other code

Python will use simple Comparsion Oprators to do this:

- == Equals to
- != Not equals
- < Less than
- \> Greater than
- <= Less Than equal to
- \>= Greaterthan equal to

In [30]:
print(4 == 4)
print(4 == 7)
print(4 != 4)
print(4 < 7)
print(7 > 4)
print(4 <= 7)
print(7 >= 4)

True
False
False
True
True
True
True

In [31]:
#Python if els Statment Example
import math
area = float(input("Entr the area: "))

if area > 0:
    radius = math.sqrt(area / math.pi)
    print("The radius is", radius)
else:
    print("Error: the area must be a postive number.")

The radius is 1054.7469565507317

In [32]:
# This example prints the maximum and minimum of two input numbers
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))

if first > second:
    maximum = first
    minumum = second
else:
    maximum = second
    minumum = first
    
print("Maximum:", maximum)
print("Minimum:", minumum)

Maximum: 73
Minimum: 29

## Python min and max functions

In [34]:
# min() and max() will elminate the if stament

first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))
print("Maximum:", max(first, second))
print("Minimum:", min(first, second))

Maximum: 39930
Minimum: 2676

## On-way selction statement

In [35]:
x = 25
if x < 0:
    x = -x

print(x)

25

## Multi-Way if statments

In [39]:
number = int(input("Enter the numeric grade: "))
if number > 89:
    letter = 'A'
elif number > 79:
    letter = 'B'
elif number > 69:
    letter = 'C'
else:
    letter = 'F'
    
print("Ther letter grade is", letter)

Ther letter grade is F

## Logical Operator and compund Boolean Expressions

Iften time in the course of a Python script interpretation, w may have to check i=to see if 2 or more conditional statments are truw before running a sequence of code.

In [40]:
number = int(input("Enter the numeric grade: "))
if number > 100:
    print("Error: garde must be between 100 and 0.")
elif number < 0:
    print("Error: Grade mys be between 100 and 0.")
else:
    print("You can follow basic intrsuctions")
    #run some code

You can follow basic intrsuctions

### Compound boolean Exprssion

Testing multiple conditions at the same time.

To do this we use **Logical Operators**:

- and
- or
- not

In [41]:
number = int(input("Enter the numeric grade: "))
if number > 100 or number < 0:
    print("Error")
else: 
    print("You can follow basic intrsuctions")

You can follow basic intrsuctions

## Truth tables

<table>
    <tr>
        <th>
            A
        </th>
        <th>
            B
        </th>
        <th>
            A and B
        </th>
    </tr>
    <tr>
        <td>
            True
        </td>
        <td>
            True
        </td>
        <td>
            True
        </td>
    </tr>
    <tr>
         <td>
            True
        </td>
        <td>
            False
        </td>
        <td>
            False
        </td>
    </tr>
</table>